@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 3px;
    background-color: gray;
}

body::-webkit-scrollbar-thumb {
    background-color: azure;
}

.table-overflow>div::-webkit-scrollbar {
    width: 3px;
    background-color: gray;
}

.table-overflow>div::-webkit-scrollbar-thumb {
    background-color: azure;
}